.show-eti {
    color: rgb(0, 81, 156) !important;
}

.show-ang {
    color: rgb(43, 43, 43) !important;
}

.show-attr {
    color: rgb(0, 201, 157) !important;
}

.show-string {
    color: rgb(0, 124, 240) !important;
}
