@import "generales";


pre[class^=cod-] {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
}


/**
    HTML
*/
.show-eti {
    color: rgb(0, 83, 160) !important;
}

.show-ang {
    color: rgb(43, 43, 43) !important;
}

.show-attr {
    color: rgb(0, 201, 157) !important;
}

.show-string {
    color: rgb(0, 124, 240) !important;
}

.show-com {
    color: rgb(0, 110, 24) !important;
}

/**
    CSS
*/

.show-selectores {
    color: rgb(216, 53, 31) !important;
}

.show-claves {
    color: rgb(101, 0, 168) !important;
    font-weight: 500;
}

.show-prop {
    color: rgb(0, 101, 168) !important;
    
}

.show-valor {
    color: rgb(165, 93, 0) !important;
}

.show-llaves {
    color: rgb(0, 0, 0) !important;
}

